body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 2rem;
}

button {
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

div {
  margin-top: 1rem;
}

label {
  margin-right: 1rem;
  font-size: 2rem;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
